# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

dump*.sql
files
.idea
.DS_Store
cache/*

sites/all/modules/dev
